[core]
  editor = nvim
  pager = delta

[push]
  autoSetupRemote = true

[merge]
  conflictstyle = zdiff3

[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true
  syntax-theme = Catppuccin Macchiato

[commit]
  gpgsign = true

[tag]
  gpgsign = true
  forceSignAnnotated = true

[gpg]
  format = ssh

[include]
  path = ~/.config/git/config.local
