configuration {
    modi:            "drun";
    font:            "CaskaydiaMono Nerd Font 12";
    show-icons:      true;
    icon-theme:      "Papirus";
    drun-display-format: "{name}";
    display-drun:    "";
    terminal:        "foot";
}

@theme "catppuccin-macchiato"
