* {
  font-family: "CaskaydiaMono Nerd Font Propo";
  /* font-family: "JetBrainsMono Nerd Font Propo"; */
  font-size: 13px;

  color: #cdd6f4;
  background-color: #181824;

  border: none;
  border-radius: 0;
  min-height: 0;

  opacity: 0.97;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  padding-top: 1px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  /* opacity: 0.5; */
}

#battery,
#pulseaudio
/* #custom-screenrecording-indicator, */
{
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 18px;
}

#network {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#clock {
  padding-top: 2px;
  font-size: 14px;
}

.hidden {
  opacity: 0;
}

/* TODO implement */
#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-microphone-indicator {}

#custom-microphone-indicator.active {}

#custom-camera-indicator {}

#custom-camera-indicatoa.active {}
